.header {
  position: relative;
  background-color: rgb(45, 45, 112);
  overflow: hidden;
}
.header--title {
  color: var(--primary-title-clr);
  font-family: var(--primary-ff);
  font-weight: var(--fw-bold);
  font-size: var(--fs-xl);
}
.header--text {
  color: var(--primary-title-clr);
  font-family: var(--primary-ff);
  font-weight: var(--fw);
  font-size: var(--fs-sm);
}
.header--image {
  position: relative;
  bottom: -100px;
}
.header::before {
  content: "";
  position: absolute;
  height: 400px;
  width: 400px;
  left: -100px;
  bottom: 0;
  background-image: url("./assets/2-banner/banner-rounded-001.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.header::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  right: -100px;
  bottom: 100px;
  background-image: url("./assets/2-banner/banner-rounded-002.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
