.partners--heading {
  text-align: center;
  color: var(--primary-clr);
  font-family: var(--primary-ff);
  font-weight: var(--fw-bold);
  font-size: var(--fs-lg);
}
.partners--image {
  width: 100px;
  padding-left: 10px;
  padding-right: 10px;
}
