.quote {
  height: auto;
  max-width: 500px;
  padding: var(--card-padding);
  box-shadow: var(--card-shadow);
  border-radius: var(--card-radius);
  display: inline-block;
  margin: auto 5px;
}
.quote--head {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.quote--head--text--title {
  color: var(--primary-crd-txt-clr);
  font-family: var(--primary-ff);
  font-weight: var(--fw-bold);
  font-size: var(--fs-sm);
}
.quote--head--text--subtitle {
  color: var(--secondary-crd-txt-clr);
  font-family: var(--primary-ff);
  font-weight: var(--fw);
  font-size: var(--fs-sm);
}
.quote--body--text {
  color: var(--primary-crd-txt-clr);
  font-family: var(--primary-ff);
  font-weight: var(--fw);
  font-size: var(--fs-sm);
}

.quote--head--text--title,
.quote--head--text--subtitle {
  margin: 0;
}
.quote--head--text {
  margin-left: 5px;
}
.quote--head--image {
  width: 50px;
  border-radius: 50%;
}
.quote--body--text {
  padding: 10px;
}
.quote--body--text::before,
.quote--body--text::after {
  content: ' " ';
  font-weight: bold;
  color: inherit;
}
