.quote--carousel .carousel-indicators li {
  background-color: var(--primary-clr);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: none;
}
.quote--carousel .carousel-indicators li.active {
  background-color: var(--primary-clr);
}
